h2 {
    text-align: center;
    color: black;
    font-family: Cyreal;
    font-size: 40px;
    font-weight: 800;
  }

h2 {
    text-align: center;
    color: black;
    font-family: Cyreal;
    font-size: 40px;
    font-weight: 800;
    padding-top: 15px;
  }
  
h3 {
    text-align: left;
    color: black;
    font-family: Cyreal;
    font-size: 25px;
    font-weight: 400;
  }

h4 {
    text-align: left;
    color: black;
    font-family: Cyreal;
    font-size: 25px;
    font-weight: 400;
  }  

.container {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 128, 124);

}

.flex-container1 {
    display: flex;
    background-color: rgb(49, 128, 124);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.players {
    text-align: left;
    font-family: Cyreal;
  }   
 
.row {
    font-family: Cyreal;
    font-size: 20px;
    background-color: rgb(49, 128, 124);
    color: white;
  }

button {
    height: 30px;
    width: 105px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: blue;
}

img {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
  





