h3 {
    text-align: center;
    color: black;
    font-style: italic;
    font-family: Cyreal;
    font-size: 60px;
    font-weight: 800;
  }
  
h5 {
    text-align: center;
    color: black;
    font-family: Cyreal;
    font-size: 40px;
    font-weight: 600;
  }
  
.nav-link  {
    color: black;
    &:hover{
        color:black !important;
      }
  } 

.btn {
    font-family: Cyreal;
    font-size: 20px;
    background-color: aquamarine;
  }
  
.container {
    text-align: center;
    font-family: Cyreal;
  } 
  
.container-fluid{
    text-align: center;
    padding: -5px 0 0 10px;
    font-family: Cyreal;
    font-size: 20px;
  } 
 
.card {
    border-radius: 10px;
  } 
   
.card-title {
    font-family: Cyreal;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }
 
.btn1 {
    font-family: Cyreal;
    font-size: 20px;
    background-color: rgb(49, 128, 124);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
